.card-body a:link{
    text-decoration: none;
    color: #f07b3f;
}

.card-body a:visited {
    text-decoration: none;
    color:#f07b3f;
}

.card-body a:hover {
    color:#ca3e47;
}

.card-title {
    border-bottom: 2px solid #ffd460;
    padding-bottom: 8px;
}

.card-body{
    padding:20px;
}

.card-body p {
    margin-bottom: 8px;
    font-size: 22px;
}

.card-body h2 {
    margin-bottom: 26px;
}

.card-body h4 {
    padding-left: 2px;
    font-size:18px;
    text-align:left;
    margin-top: 48px;
}